/* Importation des polices */

@font-face {
	font-family: "Helvetica Neue";
	font-weight: normal;
	font-style: normal;
	src:
		url("https://static.beseven.fr/fonts/HelveticaNeue-Roman.woff2") format("woff2"),
		url("https://static.beseven.fr/fonts/HelveticaNeue-Roman.woff") format("woff"),
		url("https://static.beseven.fr/fonts/HelveticaNeue-Roman.ttf") format("truetype");
}

@font-face {
	font-family: "Helvetica Neue";
	font-weight: bold;
	font-style: normal;
	src:
		url("https://static.beseven.fr/fonts/HelveticaNeue-Bold.woff2") format("woff2"),
		url("https://static.beseven.fr/fonts/HelveticaNeue-Bold.woff") format("woff"),
		url("https://static.beseven.fr/fonts/HelveticaNeue-Bold.ttf") format("truetype");
}

/* Style général */

html,
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 120%;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

h1 {
	font-size: 3rem;
	font-weight: bold;
	max-width: 90vw;
	text-align: center;
}

h2 {
	font-size: 2.5rem;
	font-weight: bold;
	max-width: 90vw;
	color: black;
	text-align: center;
	padding-top: 30vh;
}

@media screen and (max-width: 640px) {
	html,
	body {
		font-size: 100%;
	}
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.8rem;
	}
}

main {
	max-width: 1024px;
	margin: 0 auto;
	font-size: 1rem;
	padding: 3vh 5vw 0vh 5vw;
}

footer {
	text-align: center;
	color: white;
	background-color: black;
	width: 100%;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 1rem;
}
.texte_footer {
	padding: 12px;
	margin-bottom: 0px;
}

petit-espace {
	height: 3vh;
	display: block;
}

moyen-espace {
	height: 10vh;
	display: block;
}

grand-espace {
	height: 25vh;
	display: block;
}

.espace_insecable {
	font-size: 0.67em;
}

.dropdown-menu-center {
	right: auto;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

/* Liens */

.lien_site {
	color: white;
}
.lien_site:hover {
	color: white;
}


.lien_site_header {
	color: black;
}
.lien_site_header:hover {
	color: black;
}

.bordure-bouton {
	border: 1px solid #007bff;
}

.bordure-bouton:hover {
	border: 1px solid #007bff;
}

/* Pour avoir un style de bouton de Bootstrap 3 disparu dans la version 4*/
.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.btn-default:focus {
	color: #333;
	background-color: #e6e6e6;
	border-color: #8c8c8c;
}
.btn-default:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}
.btn-default:active {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

/* Style de citation */
blockquote {
	padding: 10px 20px;
	font-size: 1.3rem;
	line-height: 1.5rem;
	font-weight: normal;
	border-left: 5px solid #337ab7;
	text-align: left;
	color: grey;
	margin-bottom: 10vh;
}

blockquote:hover {
	color: black;
}

blockquote:before,
q:before {
	content: "" !important;
}

blockquote cite {
	color: #999999;
	font-size: 1em;
	display: block;
	margin-top: 5px;
}

blockquote:nth-child(odd) {
	border-left: 5px solid #337ab7;
	border-right: 0;
	text-align: left;
}

blockquote:nth-child(even) {
	border-left: 0;
	border-right: 5px solid #8233b7;
	text-align: right;
}
