<footer>
	<p class="texte_footer">
		Copyright ©
		<strong><a href="https://www.beseven.fr" class="lien_site">BeSeven</a></strong>. <span
			>Tous&nbsp;droits&nbsp;réservés.</span
		>
	</p>
</footer>

<!-- Belle typographie française -->
<script src="/js/typography.js" is:inline></script>
<script src="/js/scripts_liste-citations.js" is:inline></script>

<!-- Avis sur le site dans Google -->
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Product",
		"aggregateRating": {
			"@type": "AggregateRating",
			"ratingValue": "4.93",
			"reviewCount": "1167"
		},
		"description": "Découvrez de nouvelles citations inspirantes, humoristiques, geek et bien d'autres sur cet afficheur aléatoire de citations créé par Adrien Moyaux de BeSeven.",
		"name": "Citations aléatoires par BeSeven",
		"image": "/documents/images/logo/logo.png",
		"review": [
			{
				"@type": "Review",
				"author": "Thomas",
				"datePublished": "2017-06-15",
				"description": "J'adore cet afficheur aléatoire de citation.",
				"name": "Fabien",
				"reviewRating": {
					"@type": "Rating",
					"bestRating": "5",
					"ratingValue": "5",
					"worstRating": "1"
				}
			},
			{
				"@type": "Review",
				"author": "Lucas",
				"datePublished": "2016-12-08",
				"description": "Superbes citations ! Beaucoup sont très inspirantes.",
				"name": "Laura",
				"reviewRating": {
					"@type": "Rating",
					"bestRating": "5",
					"ratingValue": "5",
					"worstRating": "1"
				}
			}
		]
	}
</script>
